[alias]
  st = number
  d = number diff
  n = number
  na = number add
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  spull = "!__git_spull() { git pull \"$@\" && git submodule sync --recursive && git submodule update --init --recursive; }; __git_spull"

[core]
  editor = notepad2
[user]
	email = votrubec.d@st-software.com
	name = David Votrubec

[color]
  branch = auto
  interactive = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan
